[Unit]
Description=Track data, proxy source, and serve historical data. Personal use is to track NodeMCU data.
After=network.target

[Service]
ExecStart=/home/pi/data_tracker/start.sh
Restart=always
User=pi
Group=pi
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory==/home/pi/data_tracker/